/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')

/* Colors Variable */

$colorBlueRoofLight: #6fc5ff
$colorBlueRoofDark: #0058ff

$colorGreyLight: #fafaf5
$colorGreyNormal: #e3e2cf
$colorGreyDark: #bebdaf
$colorBackground: #2C2F36

$colorShadowBlue: #7cb1ff
$colorShadowBlueLight: #8dc9fc

$colorWindowGrey: #534d4d

$roofGradient: linear-gradient(150deg,$colorBlueRoofLight,$colorBlueRoofDark)
$sceneGradient: linear-gradient(#1D2B49,#1A45A0,#91cdff,#fff)

/* Stylesheet */

@mixin size($w,$h:$w,$bdrs:0px)
    width: $w
    height: $h
    border-radius: $bdrs

@mixin flex($j:center,$a:center,$d:row)
    display: flex
    flex-direction: $d
    justify-content: $j 
    align-items: $a 


@mixin pos($l:initial,$t:initial)
    position: absolute
    left: $l
    top: $t 

*
    position: relative

body
    font-family: "Playfair Display", serif
    +size(100%,100vh)
    +flex
    min-height: 100vh
    padding: 1rem
    background-color: $colorBackground
    color: #fff
    cursor: pointer

.scene
    +size(43.75rem,32rem,15px)
    position: relative
    overflow: hidden
    background: $sceneGradient
    background-size: 100% 300%
    transition: background-position 2s 

.changeColor
    background-position: 0 100%

.txt-wrapper
    margin: 
        top: 4rem
        left: 1.5rem
    max-width: 20rem
    padding: .5rem
    &> * + *
        margin-top: .5rem 
    h1
        font-size: 2.4rem 
        font-weight: 500
        letter-spacing: .125rem
        line-height: 1.2
    h5
        font-size: 1rem
        font-weight: 500
        letter-spacing: .125rem
        opacity: .5
        line-height: 1.2
    p
        font-size: 1rem 
        letter-spacing: .125rem
        opacity: .5

.changeTxtColor
    color: #222

/* txt-wrapper end */

.building
    position: absolute
    right: 0
    bottom: 0
    z-index: 1
    transform: scale(.99)

[class^="house"]
    position: absolute
    bottom: 0
    right: 0

.house1
    +size(11.25rem,12.5rem)
    background-color: $colorGreyLight
    box-shadow: inset -50px 0 $colorGreyNormal
    z-index: 1

    .window
        +size(2.5rem,6.25rem,20px)
        display: flex
        flex-direction: column
        justify-content: center

        background-color: $colorGreyNormal
        box-shadow: inset 8px 5px $colorGreyDark
        margin:
            top: 2.5rem
            left: 4.375rem

        .circle
            +size(1.25rem,1.25rem,50%)
    
            margin: .25rem
            margin-left: .625rem
            background-color: $colorWindowGrey
/* house1 end */

.house2
    +size(15rem,10.625rem)
    right: 8.125rem
    background-color: $colorGreyLight
    box-shadow: inset 0px 15px $colorShadowBlueLight,inset -72px 0 $colorGreyNormal
    z-index: 1

    .door
        +size(2.5rem,5rem)
        background-color: $colorBackground
        box-shadow: inset 8px 5px $colorShadowBlue
        border-radius:1.25rem 1.25rem 0 0 
        position: absolute
        bottom: 0
        left: 3rem
/* house2 end */

.house3
    +size(20rem,18.75rem)
    +flex
    z-index: 0
    background-color: #fafaf5
    .wall
        +flex($j: flex-start,$d: column)
        flex-grow: 1
        height: 100%
        position: relative
        
        .window
            +size(1.5rem,3rem)
            background-color: $colorBackground
            border-radius:0.75rem 0.75rem 0 0 
            margin-top: 1.875rem
        
        &:before
            content: ' '
            display: block
            +size(105%, 1rem)
            background-color: inherit
            box-shadow: 0 0 8px #999
            position: absolute
            top: -1rem
            left: 50%
            transform: translateX(-50%)
        
        =wall($flex)
            flex: $flex

        &:nth-child(1)
            flex: 10
            background-color: $colorGreyLight

            .window
                box-shadow: inset 8px 2px $colorBlueRoofLight
        
        &:nth-child(2)
            flex: 14
            background-color: $colorGreyNormal

            &:before
                z-index: 1

        &:nth-child(3)
            flex: 10
            background-color: $colorGreyDark

            .window
                box-shadow: inset -8px 2px $colorBlueRoofLight

    @mixin halfCircle($r)
        +size(calc($r * 2),$r,$r $r 0 0 )
    
    .roof
        +halfCircle(9.375rem)
        background: $roofGradient
        position: absolute
        top: -10.36rem
        right: .3125rem
        z-index: 1

        .roof-top
            +halfCircle(.875rem)
            background-color: #fff
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: -.84rem

            .cross
                +size(.25rem,1.875rem)
                background-color: #fff
                position: absolute
                left: 50%
                transform: translateX(-50%)
                top: -1.875rem

                &:before
                    content: ' '
                    display: block
                    +size(1.875rem,.25rem)
                    background-color: #fff
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-50%,-50%)

/* roof end */

.sun,.moon
  +size(50px,50px,50%)
  +pos(250px,100px)

.moon
  +size(50px,50px,50%)
  +pos(250px,100px)
  box-shadow: inset 10px -10px rgba(#fff,0.9)
  animation: moonAppear 5s both

.sun
    background-color: #ffdd38
    box-shadow: 0px 0px 20px rgba(#ffdd38,0.5)
    top: 400px
    opacity: 0

@keyframes moonAppear
  0%
    box-shadow: inset 0px 0px rgba(#fff,0.9)
  100%
    box-shadow: inset 10px -10px rgba(#fff,0.9)

@keyframes falling
    0%
        opacity: 0
    60%
        opacity: 1
    100%
        opacity: 0
    0%
        transform: translate(100px,0)
    100%
        transform: translate(0,200px)

.allStar
    +size(100%)
    +pos(0,0)

    [class^='star']
        +size(.1875rem,.1875rem,50%)
        background-color: #fff
        animation: falling 3s infinite ease-out

    @for $i from 1 through 30
        .star#{$i}
            $posX: random()*100%
            $posY: random()*-80% + 50%
            +pos($posX,$posY)
            animation-delay: $i * -0.1s

.starFade
    opacity: 0

.moonFade
    top: -100px
    opacity: 0
.sunRise
    top: 100px
    opacity: 1

h1,.allStar
    transition: 1s 

.sun,.moon
    transition: 2s ease-out
