doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Animation City
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/reset.css")
    body 
        .scene
            .txt-wrapper
                h5 A Day<br>On This Island
                h1 Aegean Sea<br>Night Sky
                p The Aegean Sea is an elongated embayment of the Mediterranean Sea between Europe and Asia. It is located between the Balkans and Anatolia, and covers an area of some 215,000 km2 (83,000 sq mi).
            
            //- building start
            .building
                //- house1 start
                .house1 
                    .window
                        .circle 
                        .circle 
                        .circle 

                //- house2 start
                .house2
                    .door

                //- house3 start
                .house3
                    .wall
                        .window 
                    .wall
                        .window 
                    .wall
                        .window 
                    .roof
                        .roof-top
                            .cross


        